.expense-list-container h2 {
    text-align: center;
    color: #f4511e;
    font-weight: 300;
}

.expense-list-container ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.expense-item {
    margin: 1rem 0;
    font-size: 1.1rem;
}